
  
  <img src="assets/img/macbook2.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  
  <div class="container-fluid">
      <div class= "caption text-center">
          <h1 class="display-4">LETS GET YOU FINANCIAL INDEPENDENCE</h1>
        </div>    
  </div>


  <div [ngStyle]="{'background-image': 'url(' + macbook.jpg + ')'}"></div>

  <!-- Title heading -->
  <h1 class="display-4">Lets get started</h1>

  <!-- Title 2 heading -->
  <h1 class="display-4">Please input the following information </h1>

  <app-post-create></app-post-create>

