.services {
    float: Center;
}

li {
    float: Left;
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
	color:white;
	text-transform: uppercase;
}

.caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
}