<body>
    <div class="vision">
        <h2>Our vision</h2>
        <p>
          Our main vision is provide <br>
          you the best outlook on your <br>
          money as possible. here at <br>
          PEMP we treat you as one of our <br>
          own
        </p>
      </div>
      
      <div class="start">
        <h2>How it all started</h2>
        <p>
          how it all started was <br>
          with a dream by our <br>
          team leader. De decided <br>
          he wanted to have everyone know <br>
          what is best for their wallets so <br>
          PEMP was born 
        </p>
      </div>
      
      <div class= "team">
        <h2>Meet the team </h2>
        <h3>Jonathan Wodlief</h3>
        <h3>John Voeum</h3>
        <h3>Deion</h3>
        <h3>Jesus Chavez</h3>
      </div>
</body>