<!-- Carousel  -->
<img src="/assets/img/macbook.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="wooden plank">


<!-- Title Caption -->
<div class="container-fluid">
    <div class="caption">
        <div class="row">
          <div class="col pl-4">
              <h1 class="display-4">About Us</h1>
              <p class="lead"> 
                Learn about our mission and our passion 
              </p>
          </div>
        </div>
      </div>
</div>

<!-- Jumbotron 1  -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">Our Vision</h1>
    <hr class="my-3">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
    <p class="lead">
    </p>
  </div>
</div>

<!-- Cards Section -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Meet the Team</h1>
      <hr class="my-6">
    </div>
    <div class="row padding">

      <!-- Card 1 -->
      <div class="col">
        <div class="card text-white bg-dark mb-3">
          <img class="card-img-top" src="/assets/img/jesus1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Jesus Chavez</h4>
            <p class="card-text">
              School:<br>
              University of North Carolina at Charlotte
            </p>
            <a href="https://www.linkedin.com/in/mauricio-chavez-64b4b8134/" class="btn btn-outline-secondary">See
              Profile</a>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col">
        <div class="card tex-white bg-secondary">
          <img class="card-img-top" src="/assets/img/jonathan.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Jonathan Woodlief</h4>
            <p class="card-text">
              School:<br>
              University of North Carolina at Charlotte
            </p>
            <a href="https://www.linkedin.com/in/jonwoodlief/" class="btn btn-outline-dark">See
              Profile</a>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="/assets/img/john.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">John Voeun</h4>
            <p class="card-text">
              School:<br>
              University of North Carolina at Charlotte
            </p>
            <a href="https://www.linkedin.com/in/john-voeun-71a787170/" class="btn btn-outline-secondary">See
              Profile</a>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col">
        <div class="card text-white bg-secondary">
          <img class="card-img-top" src="/assets/img/deion.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Deion Moore</h4>
            <p class="card-text">
              School:<br>
              University of North Carolina at Charlotte
            </p>
            <a href="https://www.linkedin.com/in/deion-moore-085a52141/" class="btn btn-outline-dark">See
              Profile</a>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col">
        <div class="card text-white bg-dark">
          <img class="card-img-top" src="/assets/img/john.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Mark Barringer</h4>
            <p class="card-text">
              School:<br>
              University of North Carolina at Charlotte
            </p>
            <a href="https://www.linkedin.com/in/mauricio-chavez-64b4b8134/" class="btn btn-outline-secondary">
              See Profile
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>