body {
    margin: 35px;
}

.about {
    text-align: center;
    font-size: 24pt;
}



.vision {
    text-align: left;
    font-size: 24pt ;    
}

.start {
    text-align: right;
    font-size: 24pt ;
}

.team {
    text-align: left ;
}

h2{
    color: purple;
    font-size: 42pt;
}

h3 {
    color: teal;
    
}

