<body>
    <div class=about>
      <h2> So what are we ?</h2>
      <p>We are <span style="color: teal;">PEMPING</span> your net worth and giving it a huge makeover !!!!!</p>
    </div>

    <div class="vision">
        <h2>Our vision</h2>
        <p>
          Our main vision is provide <br>
          you the best outlook on your <br>
          money as possible. here at <br>
          PEMP we treat you as one of our <br>
          own
        </p>
      </div>
      
      <div class="start">
        <h2>How it all started</h2>
        <p>
          how it all started was <br>
          with a dream by our <br>
          team leader. De decided <br>
          he wanted to have everyone know <br>
          what is best for their wallets so <br>
          PEMP was born 
        </p>
      </div>
      
      <div class= "team">
        <h2>Meet the team </h2>
        <h3>Jonathan Wodlief</h3>
          <p>Role: Scrum Master</p>
          <p>Education: University of North Carolina at Charlotte</p>
        <h3>John Voeum</h3>
          <p>Role: Front End</p>
          <p>Education: University of North Carolina at Charlotte</p>
        <h3>Deion</h3>
            <p>Role: Database</p>
            <p>Education: University of North Carolina at Charlotte</p>
        <h3>Jesus Chavez</h3>
          <p>Role: Front End</p>
          <p>Education: University of North Carolina at Charlotte</p>
      </div>

      <div class = "signUp">
        <h2>Sign up today</h2>

      </div>
</body>