<div class="header">
  <h1> We'd Love to Help !</h1>
  <p>We want to give you the best hassle free experience <br>
    feel free to give us feedback</p>
</div>

<div class="container">
  <div class="row">
    <div class=col>
      <h2>Get in Touch !</h2>
      <input type="text" id="firstName"><br>
      <input type="email" id="email"><br>
      <textarea name="message" id="response" cols="50" rows="10"></textarea>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <p>9201 University City Blvd, Charlotte, NC, 28223</p><br>
      <p>support@pemp.com</p><br>

    </div>
  </div>