body{
    margin: 35px;
}

h1{
    color: purple;
    font-size: 50pt;
}

.header {
    text-align: center;
}

.feedback {
    float: left;
}

.information {
    position: relative ;
    float: right;
    padding: 15px ;
    
}

p{
    color: teal;
    font-size: 24pt;
}

h2 {
    color: grey;
    
}