<h1 class="display-1">Ouch <br> did we do something wrong ?</h1>

<h1 class="display-2">Answer the Following questions</h1>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write your concern here</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


  <div class="row">
    <div class="col">
      <p>9201 University City Blvd, Charlotte, NC, 28223</p><br>
      <p>support@pemp.com</p><br>

    </div>
  </div>