<!--The content below is only a placeholder and can be replaced.-->
<app-navigation></app-navigation>

<router-outlet></router-outlet>

<footer>
    <div class="container">
        <div class="col-3">
            <p>Requires Google Login</p>
        </div>

        <div class="col-1">
            <ul class="unstyled-list">
                <li><strong>Mint</strong></li>
                <li>Turbo Tax</li>
                <li>Mint</li>
                <li>Intuit</li>
                <li>Kredit Karma</li>
            </ul>
        </div>

        <div class="col-1">
            <ul class="unstyled-list">
                <li><strong>Nerdist</strong></li>
                <li>Nerd Wallet</li>
                <li>Money</li>
                <li>Zelle</li>
                <li>CashApp</li>
            </ul>
        </div>

        <div class="col-1">
            <ul class="unstyled-list">
                <li><strong>Acorn</strong></li>
                <li>Fidelity</li>
                <li>Crypto</li>
                <li>LiteCoin</li>
                <li>Etherium</li>
            </ul>
        </div>
    </div>
</footer>