<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

      <!-- Card Class -->
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Lets make you a PEMP</h5>
          <form>

            <!-- Investments -->
            <div class="form-group row">
              <label for="asdfas">Investments</label>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Principal</small>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Contribution</small>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Interest</small>
            </div>
            
            <!-- Income -->
            <div class="form-group row">
              <label for="Income">Income</label>
              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Yearly Income</small>
            </div>

            <!-- Expenditure -->
            <div class="form-group row">
              <label for="expenditure">Expenditure</label>
              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Monthly Payment</small>
            </div>

            <!-- Loan -->
            <div class="form-group row">
              <label for="loan">Loan</label>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Principal</small>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Payment</small>

              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              <small id="helpId" class="text-muted">Interest</small>
            </div>

            <!-- button submit -->
            <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Submit</button>
            <hr class="my-4">

            <!-- button 2 -->
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                class="fab fa-google mr-2"></i> Sign in with Google</button>

            <!-- button -->
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>