  <div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">


    <div class="container-fluid">

      <!-- Logo  -->
      <a class="navbar-brand" routerLink="/Home"><img src="assets/img/logo4.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/About">About</a>
          </li>

          <!-- Services -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/Features">Services</a>
          </li>

          <!-- Connect -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/Connect">Connect</a>
          </li>
        </ul>
      </div>

      
    </div>

  </div>