header {
    background: transparent;
}

.container{
  text-align: left;
}

nav {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

li {
  padding: 1.5em;
  float: right;
  font-weight : bold ;
  
}

a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
    color: 	#4B0082;
    font-weight: bold ;
}

a:hover {
    background-color: rgb(53, 53, 53);
}