/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0 auto;
    background-color: white ;
}

body {
    margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-image: url(/src/assets/img/hero-bg.jpeg);;

}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    
}

a {
  color: cornflowerblue;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}