<section class="home-hero parallax--bg">
	<div class="container">
		<h1 class="title parallax--box">Come be a pemp <span>and ditch the mint</span>
		</h1>
		<a href="" class="button button-accent">Take a look!</a>
	</div>
</section>

<div class="container">
	<section class="home-about">

		<div class="home-about-textbox parallax--box">
			<h1>Who we are</h1>
			<p>At P.E.M.P. we strive to help you make financial decisions with confidence. Your life's choices influence our evaluations.</p>
			<p><strong>Finance with confidence!</strong> We're a great companion to your future! We make decision trees based on your variables.
				 This helps with our advise when it comes to credit cards, loans, payments etc.</p>
		</div>

	</section>
</div>


<section class="portfolio">
	<h1>Some of our rewards!</h1>

	<!-- portfolio item 01 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Credit Cards</p>
			<a href="" class="button button-accent button-small">Advisement</a>
		</figcaption>
	</figure>

	<!-- portfolio item 02 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Loans</p>
			<a href="" class="button button-accent button-small">Advisement</a>
		</figcaption>
	</figure>

	<!-- portfolio item 03 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Payments</p>
			<a href="" class="button button-accent button-small">Advisement</a>
		</figcaption>
	</figure>

	<!-- portfolio item 04 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Bills</p>
			<a href="" class="button button-accent button-small">Advisement</a>
		</figcaption>
	</figure>

	<!-- portfolio item 05 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg\" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Investments</p>
			<a href="" class="button button-accent button-small">Advisement</a>
		</figcaption>
	</figure>

	<!-- portfolio item 06 -->
	<figure class="port-item">
		<img src="/src/assets/img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>School</p>
			<a href="" class="button button-accent button-small">Reward Details</a>
		</figcaption>
	</figure>

</section>

<section class="cta">
	<div class="container">
		<h1 class="title title-cta">More Variables = Better Advise
			 <span>Done at the comfort of your home</span>
		</h1>
		<a href="" class="button button-dark">Sign up</a>
	</div>
</section>


<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

		<script src="js/parallax.js"></script>

