<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UDApZhXTpH8?autoplay=1" allowfullscreen></iframe>
	  </div>

<div class="caption text-center">
	<h1>Welcome to PEMP</h1>
	<h3>Come be a PEMP and ditch the Mint</h3>
	<a class="btn btn-outline-light btn-lg" href="/Features">Get Started</a>
</div>

<div class="container-fluid">
	<div class="jumbotron">
		<div class="narrow">
			<div class="col-12">
				<h3 class="heading">Features</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="row text-center">

				<div class="col-md-4">
					<div class="feature">
						<i class="fas fa-home fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Home Mortage</h3>
						<p>Lorem ipsum dolor sit amet,
							consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="feature">
						<i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>401k</h3>
						<p>Lorem ipsum dolor sit amet,
							consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam</p>
					</div>

				</div>

				<div class="col-md-4">
					<div class="feature">
						<i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Net Worth</h3>
						<p>Lorem ipsum dolor sit amet,
							consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam</p>
					</div>
				</div>
			</div>
		</div>